<div id="main">
    <h1>Reddit viewer</h1>
    <mat-card id="FirstCard" fxlayout="row" fxlayout.xs="column" fxlayoutalign="space-around center" fxlayoutalign.xs="space-around" fxlayoutgap="30px" >
        <mat-form-field fxflex id="firstField">
            <mat-label>Select Reddist</mat-label>
            <mat-select [(ngModel)]="topic" (ngModelChange)="setTopic($event)">
                <mat-option *ngFor="let url of urls" [value]="url">{{url.slice(3, -1)}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxflex="15" id="secondField">
            <mat-label>Number of Redists</mat-label>
            <mat-select [(ngModel)]="count" (ngModelChange)="setCount($event)">
                <mat-option [value]="12">12</mat-option>
                <mat-option [value]="20">20</mat-option>
                <mat-option [value]="60">60</mat-option>
                <mat-option [value]="100">100</mat-option>
            </mat-select>
        </mat-form-field>
        <button fxflex="15" (click)="showContent()" mat-raised-button color="primary" style="flex: 1 1 100%; box-sizing: border-box; max-width: 15%;" >READY!</button>
    </mat-card>
    <mat-card fxLayout="row wrap" fxlayout.xs="column" fxlayoutalign="center"> 
        <figure fxflex="22" *ngFor="let path of photoUrls">
            <img (click)="navigateToRedit(path)" [src]="path" fxflex>
            <div class="overlay">
                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                <p>View on Reddit</p>
            </div>  
        </figure>
    </mat-card>
</div>
